<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head::head"/>
<link th:href="@{/css/makeapp/4.character.css}" rel="stylesheet"/>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}"><span>MakeApp</span>Admin</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <svg class="glyph stroked male-user">
                            <use xlink:href="#stroked-male-user"></use>
                        </svg>
                        User <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">
                            <svg class="glyph stroked male-user">
                                <use xlink:href="#stroked-male-user"></use>
                            </svg>
                            Profile</a></li>
                        <li><a href="#">
                            <svg class="glyph stroked gear">
                                <use xlink:href="#stroked-gear"></use>
                            </svg>
                            Settings</a></li>
                        <li><a href="#">
                            <svg class="glyph stroked cancel">
                                <use xlink:href="#stroked-cancel"></use>
                            </svg>
                            Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div th:replace="fragments/sidebar::sidebar"/>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a th:href="@{/}">
                <svg class="glyph stroked home">
                    <use xlink:href="#stroked-home"></use>
                </svg>
            </a></li>
            <li><a th:href="@{/production}">Episode</a></li>
            <li><a th:href="@{/episode/}">Scene</a></li>
            <li class="active">Details</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Scene Details</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="heading_bold"
                        th:text="'Character: ' + ${character.characterFirstName} + ' - ' + ${character.characterLastName} "/>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <!--<form method="POST" enctype="multipart/form-data" action="/makeapp/api/character/upload/5b51ebfb697995edeaa43fb4/5b50aa10fe8f359120a65208?comment='VIP'">
                                Choose Character Image:<input type="file" name="uploadImage" />
                                <input type="submit" value="Upload" />
                            </form>-->
                            <div class="col-lg-2 new-prod">
                                <a class="btn btn-primary" id="character_image_upload">
                                    <i class="glyphicon glyphicon-add icon-add"/> Upolad Character Image
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <br/>
                    <hr/>
                    <br/>
                    <div class="row character-images">
                        <div class="col-sm-12 col-md-4 col-lg-4" th:each="imageId :${characterImageIds}">
                            <img th:src="@{/api/character/image/} + ${imageId}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="modals/character_image_upload::character_image_upload"/>
<div th:replace="fragments/scripts::scripts"/>
<input type="hidden" id="character_api_base_url" th:value="@{/api/character/}"/>
<input type="hidden" id="character_base_url" th:value="@{/character/}"/>
<input type="hidden" id="character_id" th:value="${character.id}"/>
<input type="hidden" id="scene_id" th:value="${sceneId}"/>
<script th:src="@{/js/vendor/bootstrap-table.js}"></script>
<script th:src="@{/js/vendor/jquery.validate.min.js}"></script>
<script th:src="@{/js/makeapp/11.image.js?v=} + #{resources.version}"></script>
</body>
</html>