<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Add New Character</title>
</head>
<body>
<div th:fragment="add_character" id="add_character_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add New Character</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="character_form" method="post">
                    <div class="form-group">
                        <label for="characterId" class="col-sm-3 control-label">Actor Full Name</label>
                        <div class="col-sm-9">
                            <select id="actorId"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="characterFirstName" class="col-sm-3 control-label">Character First Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="characterFirstName" id="characterFirstName"
                                   placeholder="Character First Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="characterLastName" class="col-sm-3 control-label">Character Last Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="characterLastName" name="characterLastName"
                                   placeholder="Character Last Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="characterId" class="col-sm-3 control-label">Character ID</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="characterId" id="characterId"
                                   placeholder="Character ID"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button type="submit" class="btn btn-primary" id="save_actor">Save</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

    <!--<input type="hidden" id="actor_add_url" th:value="@{/api/actor/create}"/>-->
</div><!-- /.modal -->

<div th:fragment="add_character_checkbox" id="add_character_checkbox_modal" class="modal fade" tabindex="-1"
     role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Characters</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="character_checkbox_form" method="post">
                    <div class="form-group" th:each="character: ${characters}">
                        <label for="characterId" class="col-sm-3 control-label">Character Name</label>
                        <div class="col-sm-9">
                            <label>
                                <input type="checkbox" class="characterId" th:value="${character.id}"/>
                                <span th:text="${character.characterId} + ' - ' + ${character.characterFirstName} + '&nbsp;' +  ${character.characterLastName}"/>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button type="submit" class="btn btn-primary" id="save_characters">Save</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
</body>
</html>