<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head th:fragment="head">
    <title th:text="#{app.name} + '-' + ${title}"></title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/datepicker3.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-table.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <!--Icons-->
    <script th:src="@{/js/vendor/lumino.glyphs.js}"></script>

    <!--[if lt IE 9]>
    <script th:src="@{/js/vendor/html5shiv.js}"></script>
    <script th:src="@{js/vendor/respond.min.js}"></script>
    <![endif]-->
</head>
<body>

</body>
</html>