<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar" th:fragment="sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search"/>
        </div>
    </form>
    <ul class="nav menu">
        <li><a th:href="@{/production}">
            <svg class="glyph stroked dashboard-dial">
                <use xlink:href="#stroked-dashboard-dial"></use>
            </svg>
            Production</a></li>
        <li><a th:href="@{/actor}">
            <svg class="glyph stroked calendar">
                <use xlink:href="#stroked-calendar"></use>
            </svg>
            Actors</a></li>
        <li><a th:href="@{/user}">
            <svg class="glyph stroked male user">
                <use xlink:href="#stroked-male-user"></use>
            </svg>
            Users</a></li>
        <li><a th:href="@{/report}">
            <svg class="glyph stroked male user">
                <use xlink:href="#stroked-male-user"></use>
            </svg>
            Reports</a></li>
        <!--<li class="parent ">-->
        <!--<a href="#">-->
        <!--<span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked chevron-down">-->
        <!--<use xlink:href="#stroked-chevron-down"></use>-->
        <!--</svg></span> Dropdown-->
        <!--</a>-->
        <!--<ul class="children collapse" id="sub-item-1">-->
        <!--<li>-->
        <!--<a class="" href="#">-->
        <!--<svg class="glyph stroked chevron-right">-->
        <!--<use xlink:href="#stroked-chevron-right"></use>-->
        <!--</svg>-->
        <!--Sub Item 1-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="" href="#">-->
        <!--<svg class="glyph stroked chevron-right">-->
        <!--<use xlink:href="#stroked-chevron-right"></use>-->
        <!--</svg>-->
        <!--Sub Item 2-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="" href="#">-->
        <!--<svg class="glyph stroked chevron-right">-->
        <!--<use xlink:href="#stroked-chevron-right"></use>-->
        <!--</svg>-->
        <!--Sub Item 3-->
        <!--</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</li>-->
    </ul>

</div><!--/.sidebar-->

</body>
</html>