<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head::head"/>
<link th:href="@{/css/makeapp/3.actor.css}" rel="stylesheet"/>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Lumino</span>Admin</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <svg class="glyph stroked male-user">
                            <use xlink:href="#stroked-male-user"></use>
                        </svg>
                        User <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">
                            <svg class="glyph stroked male-user">
                                <use xlink:href="#stroked-male-user"></use>
                            </svg>
                            Profile</a></li>
                        <li><a href="#">
                            <svg class="glyph stroked gear">
                                <use xlink:href="#stroked-gear"></use>
                            </svg>
                            Settings</a></li>
                        <li><a href="#">
                            <svg class="glyph stroked cancel">
                                <use xlink:href="#stroked-cancel"></use>
                            </svg>
                            Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div th:replace="fragments/sidebar::sidebar"/>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a th:href="@{/}">
                <svg class="glyph stroked home">
                    <use xlink:href="#stroked-home"></use>
                </svg>
            </a></li>
            <li class="active">Actor</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Actors</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Current Actors</div>
                <div class="panel-body">
                    <div class="bootstrap-table">
                        <div class="fixed-table-toolbar">
                            <div class="col-lg-2 new-actor">
                                <a class="btn btn-primary" id="actor_add">
                                    <i class="glyphicon glyphicon-add icon-add"/> Add New Actor
                                </a>
                            </div>
                            <div class="col-lg-10">
                                <div class="alert"></div>
                            </div>
                        </div>
                        <div class="fixed-table-container">
                            <div class="fixed-table-body">
                                <div class="fixed-table-loading" style="top: 37px; display: none;">Loading, please
                                    wait…
                                </div>
                                <table id="actor_list_table"
                                       data-show-refresh="true"
                                       data-show-columns="true"
                                       data-query-params="queryParams"
                                       data-toolbar=".toolbar">
                                    <thead>
                                    <tr>
                                        <th data-field="firstName">First Name</th>
                                        <th data-field="lastName">Last Name</th>
                                        <th data-field="gender">Gender</th>
                                        <th data-field="action"
                                            data-align="center"
                                            data-formatter="actionFormatter"
                                            data-events="actionEvents">Action</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.main-->

<div th:replace="modals/actor_add::add_actor"/>
<div th:replace="fragments/scripts::scripts"/>
<input type="hidden" id="actor_api_base_url" th:value="@{/api/actor/}"/>
<input type="hidden" id="actor_base_url" th:value="@{/actor/}"/>
<script th:src="@{/js/vendor/bootstrap-table.js}"></script>
<script th:src="@{/js/vendor/jquery.validate.min.js}"></script>
<script th:src="@{/js/makeapp/4.actor.js}"></script>
</body>

</html>
