<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head::head"/>
<link th:href="@{/css/makeapp/1.prod.css}" rel="stylesheet"/>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}"><span>MakeApp</span>Admin</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <svg class="glyph stroked male-user">
                            <use xlink:href="#stroked-male-user"></use>
                        </svg>
                        User <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">
                            <svg class="glyph stroked male-user">
                                <use xlink:href="#stroked-male-user"></use>
                            </svg>
                            Profile</a></li>
                        <li><a href="#">
                            <svg class="glyph stroked gear">
                                <use xlink:href="#stroked-gear"></use>
                            </svg>
                            Settings</a></li>
                        <li><a th:href="@{/logout}">
                            <svg class="glyph stroked cancel">
                                <use xlink:href="#stroked-cancel"></use>
                            </svg>
                            Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div th:replace="fragments/sidebar::sidebar"/>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a th:href="@{/}">
                <svg class="glyph stroked home">
                    <use xlink:href="#stroked-home"></use>
                </svg>
            </a></li>
            <li class="active">Reports</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Reports</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Click on link to choose report</div>
                <div class="panel-body">
                    <ul>
                        <li><a th:href="@{/report/scene}">Scene Reports</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!--/.main-->

<!--<div th:replace="modals/user_add::add_user"/>-->
<div th:replace="fragments/scripts::scripts"/>
<input type="hidden" id="user_api_base_url" th:value="@{/api/user/}"/>
<input type="hidden" id="user_base_url" th:value="@{/user/}"/>
<script th:src="@{/js/vendor/bootstrap-table.js}"></script>
<script th:src="@{/js/vendor/jquery.validate.min.js}"></script>
<!--<script th:src="@{/js/makeapp/7.user.js?v=}  + #{resources.version}"></script>-->
</body>

</html>
